@using EasyHesapOnlineTicariOtomasyon.Models.Classes
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Departman Listesi</h2>
<br />
<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detay</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>
                @k.Departmanid
            </td>
            <td>
                @k.DepartmanAdi
            </td>
            <td><a href="/Departman/DepartmanSil/@k.Departmanid" class="btn btn-outline-success" onclick="silUyari()">Sil</a></td>
            <td><a href="/Departman/DepartmanGetir/@k.DepartmanAdi" class="btn btn-outline-info">Güncelle</a></td>
            <td><a href="/Departman/DepartmanDetay/@k.DepartmanAdi" class="btn btn-outline-warning">Detaylar</a></td>
        </tr>
    }
</table>
<br />
<a href="/Departman/DepartmanEkle" class="btn btn-danger">Departman Ekle</a>
<script>
    function ekleUyari() {
        alert("Departman Eklendi");

        var message = "@TempData["KategoriEkleMesaj"]";
        TempData.Remove("KategoriEkleMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }

    function guncelleUyari() {
        alert("Departman Güncellendi");

        var message = "@TempData["KategoriGuncelleMesaj"]";
        TempData.Remove("KategoriGuncelleMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }

    function silUyari() {
        alert("Departman Silindi");

        var message = "@TempData["KategoriSilMesaj"]";
        TempData.Remove("KategoriSilMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }
</script>

