@using EasyHesapOnlineTicariOtomasyon.Models.Classes
@model List<Kategori>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<table class="table table-bordered" style="margin-top:20px">


    <tr>
        <td>ID</td>
        <td>Kategori Adı</td>
        <td>Sil</td>
        <td>Güncelle</td>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.Kategoriid
            </td>
            <td>
                @k.KategoriAd
            </td>
            <td><a href="/Kategori/KategoriSil/@k.Kategoriid" class="btn btn-outline-danger" onclick="silUyari()">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@k.Kategoriid" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>
<br />
<a href="/Kategori/KategoriEkle" class="btn btn-success">Kategori Ekle</a>
<script>
    function ekleUyari() {
        alert("Kategori Eklendi");

        var message = "@TempData["KategoriEkleMesaj"]";
        TempData.Remove("KategoriEkleMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }

    function guncelleUyari() {
        alert("Kategori Güncellendi");

        var message = "@TempData["KategoriGuncelleMesaj"]";
        TempData.Remove("KategoriGuncelleMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }

    function silUyari() {
        alert("Kategori Silindi");

        var message = "@TempData["KategoriSilMesaj"]";
        TempData.Remove("KategoriSilMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }
</script>


