@model EasyHesapOnlineTicariOtomasyon.Models.Classes.SatisHareket
@{
    ViewBag.Title = "SatisGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Satış İşlemi Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("SatisGuncelle", "Satis", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Satisid)
    <label for="">Ürün Adı</label>
    @*@Html.LabelFor(x => x.Urun)*@
    @Html.DropDownListFor(x => x.Urunid, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />
    <label for="Cari">Cari Adı</label>
    @Html.Label("")
    @Html.DropDownListFor(x => x.Cariid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    <br />
    <label for="">Personel</label>
    @Html.DropDownListFor(x => x.Personelid, (List<SelectListItem>)ViewBag.dgr3, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Adet)
    @Html.TextBoxFor(x => x.Adet, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Fiyat)
    @Html.TextBoxFor(x => x.Fiyat, new { @class = "form-control" })
    <br />
    <label for="">Toplam Tutar</label>
    @*@Html.LabelFor(x => x.ToplamTutar)*@
    @Html.TextBoxFor(x => x.ToplamTutar, new { @class = "form-control" })
    <br />
    <label for="">Tarih</label>
    @*@Html.LabelFor(x => x.Tarih)*@
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-warning" onclick="uyarı()">Güncelle</button>
}
<script>
    function uyarı() {
        alert("Ürün Güncellendi")

        var message = "@TempData["KategoriKaydetMesaj"]";
        TempData.Remove("KategoriKaydetMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }
</script>


