@using EasyHesapOnlineTicariOtomasyon.Models.Classes
@model List<Personel>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Personel Listesi</h2>
<br />
<table class="table table-hover" id="tbl1" style="margin-top:20px" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th class="asc">ID</th>
            <th>Personel Ad</th>
            <th>Personel Soyad</th>
            <th>Görsel</th>
            <th>Departman</th> 
            <th>Sil</th>
            <th>Güncelle</th>
            <th>Detaylar</th>
        </tr>
    </thead>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personelid</td>
            <td> @k.PersonelAd</td>
            <td> @k.PersonelSoyad</td>
            <td>
                <img src="@k.PersonelResim" style="width:50px;height:50px;"/>
            </td>
            <td> @k.Departmans.DepartmanAdi</td>
            <td><a href="/Personel/PersonelSil/@k.Personelid" class="btn btn-outline-danger" onclick="silUyari()">Sil</a></td>
            <td><a href="/Personel/PersonelGetir/@k.Personelid" class="btn btn-outline-info">Güncelle</a></td>
            <td><a href="/Departman/DepartmanPersonelSatis/@k.Personelid" class="btn btn-outline-warning">Detaylar</a></td>
        </tr>
    }
</table>
<br />
<a href="/Personel/PersonelEkle" class="btn btn-success">Yeni Personel Ekle</a>
<script>
    function ekleUyari() {
        alert("Personel Sisteme Eklendi");

        var message = "@TempData["KategoriEkleMesaj"]";
        TempData.Remove("KategoriEkleMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }

    function guncelleUyari() {
        alert("Personel Güncellendi");

        var message = "@TempData["KategoriGuncelleMesaj"]";
        TempData.Remove("KategoriGuncelleMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }

    function silUyari() {
        alert("Personel Silindi");

        var message = "@TempData["KategoriSilMesaj"]";
        TempData.Remove("KategoriSilMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }
</script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>





<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

<script>
    $(document).ready(function () {
        $('#tbl1').DataTable();
    });

</script>


